<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/layout-user.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}" />

</head>

<body>

    <div layout:fragment="content">

        <!-- Breadcrumb -->
        <div class="container">
            <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                    Trang chủ
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>
                <span class="stext-109 cl4">
                    Blog - Tin tức
                </span>
            </div>
        </div>

        <!-- Content page -->
        <section class="bg0 p-t-62 p-b-60">
            <div class="container">
                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">
                        <div class="sidebar-section">
                            <h2 class="section-header">TIN TỨC</h2>
                            <div class="blog-list">
                                <!-- Blog items -->
                                <div class="blog-item" th:each="article : ${articles}">
                                    <div class="blog-image">
                                        <a th:href="@{/getblogdetail/{id}(id=${article.id})}">
                                            <img th:if="${article.imagePath}" th:src="@{|/${article.imagePath}|}"
                                                alt="Blog Image">
                                            <img th:unless="${article.imagePath}" th:src="@{/images/nhatm.jpg}"
                                                alt="Default Blog Image">
                                        </a>
                                    </div>

                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <span class="blog-category">Tin tức</span>
                                            <span class="blog-date">
                                                <i class="fa fa-clock-o"></i>
                                                <span
                                                    th:text="${#temporals.format(article.createdAt, 'dd/MM/yyyy')}">22/01/2023</span>
                                            </span>
                                        </div>

                                        <h3 class="blog-title">
                                            <a th:href="@{/getblogdetail/{id}(id=${article.id})}"
                                                th:text="${article.title}">Title</a>
                                        </h3>

                                        <p class="blog-excerpt" th:utext="${article.summary}">Summary</p>

                                        <a th:href="@{/getblogdetail/{id}(id=${article.id})}" class="read-more">
                                            Xem tiếp
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <!-- Danh mục blog -->
                        <div class="sidebar-section">
                            <h3 class="section-header">DANH MỤC BLOG</h3>
                            <div class="category-list">
                                <a href="#" class="category-item active">
                                    Tin tức
                                    <span class="count">(5)</span>
                                </a>
                            </div>
                        </div>

                        <!-- Bài viết mới nhất -->
                        <div class="sidebar-section">
                            <h3 class="section-header">BÀI VIẾT MỚI NHẤT</h3>
                            <div class="recent-posts">
                                <div class="recent-post-item" th:each="article,iterStat : ${articles}"
                                    th:if="${iterStat.index < 5}">
                                    <div class="recent-post-image">
                                        <a th:href="@{/getblogdetail/{id}(id=${article.id})}">
                                            <img th:if="${article.imagePath}" th:src="@{|/${article.imagePath}|}"
                                                alt="Blog Image">
                                            <img th:unless="${article.imagePath}" th:src="@{/images/nhatm.jpg}"
                                                alt="Default Blog Image">
                                        </a>
                                    </div>
                                    <div class="recent-post-info">
                                        <h4 class="recent-post-title">
                                            <a th:href="@{/getblogdetail/{id}(id=${article.id})}"
                                                th:text="${article.title}">Title</a>
                                        </h4>
                                        <div class="recent-post-meta">
                                            <i class="fa fa-clock-o"></i>
                                            <span class="date"
                                                th:text="${#temporals.format(article.createdAt, 'dd/MM/yyyy')}">22/01/2023</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>
    </div>

    <!--===============================================================================================-->
    <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/select2/select2.min.js}"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            });
        });
    </script>
    <!--===============================================================================================-->
    <script th:src="@{/js/main.js}"></script>

</body>

</html>